
.main{
    width: 960px;
    margin: 0 auto;}
.header{
    background: aqua;
    height: 200px;
}
.menu{overflow: hidden;
    background: red;
}
.menu ul{margin: 0;padding: 0;list-style: none;}
.menu ul li{float: left; border-right: 1px solid #ddd}
.menu ul li a{text-decoration: none;display: block;padding: 10px 20px;}
.menu ul li a:hover{background: green;border-radius: 5px;}



.slider{
    background: green;
    height: 300px;
}
.contain{
    background: grey;
    height: 400px;
}
.media{
    background: aqua;
    height: 300px;
}
.footer{
    background: red;
    height: 100px;
}